<!DOCTYPE html>
<html>
<head>
	<title>Blog Site</title>
	<script type="text/javascript" src="http://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

	<style type="text/css">
		html,body {
			padding: 10px;
			clear: both;
			float: left;
		}

		#singleBlogPost {
			border-width: 2px;
			border-style: solid;
			border-color: blue;
			padding: 10px;
			margin-bottom: 50px;
		}

		#blogPostCreation {
			border-width: 2px;
			border-style: solid;
			border-color: black;	
		}

		#blogPostCreation > * {
			margin: 10px;	
		}
	</style>
</head>
<body>
	<h1>Welcome to my blog site</h1>

	<div id='blogPosts'>
		<blog-post v-for="post in posts" v-bind:blogpost="post"></blog-post>
	</div>

	<div id='blogPostCreation'>
		<h2>Post new blog</h2>
		<input v-model='title'><br>
		<input v-model='username'><br>
		<input v-model='date'><br>
		<input v-model='content'><br>
		<button v-on:click="publishPost">Publish post</button>
	</div>

	<script type="text/javascript">
		Vue.component('blog-post', {
			props: ['blogpost'],
			template: `<div id='singleBlogPost'>
							<h2>{{ blogpost.title }}</h2>			
							<h3>{{ blogpost.username }}</h3>
							<h4>{{ blogpost.date }}</h4>
							<p>{{ blogpost.content }}</p>
						</div>`,
		});

		var blogVue = new Vue({
			el: '#blogPosts',
			data: {
				posts: [
					{title: "Blog 1", username: "User 1", date: "Date 1", content: "Content 1"},
					{title: "Blog 2", username: "User 2", date: "Date 2", content: "Content 2"}
				]
			}
		});
	</script>
</body>
</html>